@use "sass:math";
@use "../abstracts/" as *;

.flex-layout {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar {
  padding: $base-padding * 4;
  box-shadow: $base-box-shadow;
  align-items: center;

  .site-title {
    font-size: $font-size-lg;
  }
}

@each $key, $color in $colors {
  .navbar-#{$key} {
    @extend .navbar;
    background-color: $color;
  }
}
